/nbproject/private/
/ProjetoBaseLP3-ejb/nbproject/private/
/ProjetoBaseLP3-war/nbproject/private/
/ProjetoBaseLP3-ejb/dist/
/ProjetoBaseLP3-ejb/build/
/ProjetoBaseLP3-war/build/
/build/
/ProjetoBaseLP3-war/dist/